@page
@model Empiria.Trade.Reporting.Web.Pages.ShippingAndHandling.shipping_labelModel
@{
}
<h1>IMPRESION DE TICKETS</h1>
<div class="card-body">

    @if (Model.ShippingData.Count() > 0) {

      <table class="table table-striped border">
        <tr class="table-secondary">
                @*<th>@Html.DisplayNameFor(m => m.ShippingData.First().Customer)</th>
      <th>@Html.DisplayNameFor(m => m.ShippingData.First().ParcelSupplier)</th>*@
          <th>@Html.DisplayNameFor(m => m.ShippingData.First().ShippingUID)</th>
          <th>@Html.DisplayNameFor(m => m.ShippingData.First().ShippingGuide)</th>
          <th>@Html.DisplayNameFor(m => m.ShippingData.First().TotalPackages)</th>
          <th>@Html.DisplayNameFor(m => m.ShippingData.First().OrdersCount)</th>
          <th>@Html.DisplayNameFor(m => m.ShippingData.First().OrdersTotal)</th>
                @*<th>@Html.DisplayNameFor(m => m.ShippingData.First().ParcelAmount)</th>
      <th>@Html.DisplayNameFor(m => m.ShippingData.First().CustomerAmount)</th>
      <th>@Html.DisplayNameFor(m => m.ShippingData.First().TotalWeight)</th>
      <th>@Html.DisplayNameFor(m => m.ShippingData.First().TotalVolume)</th>
      <th>@Html.DisplayNameFor(m => m.ShippingData.First().ShippingDate)</th>
      <th>@Html.DisplayNameFor(m => m.ShippingData.First().Status)</th>*@
        </tr>
            @foreach (var label in @Model.ShippingData) {
            <tr>
                    @*<td>@Html.DisplayFor(m=>label.Customer.Name)</td>
      <td>@Html.DisplayFor(m=>label.ParcelSupplier.Name)</td>*@
              <td>@Html.DisplayFor(m=>label.ShippingUID)</td>
              <td>@Html.DisplayFor(m=>label.ShippingGuide)</td>
              <td>@Html.DisplayFor(m=>label.TotalPackages)</td>
              <td>@Html.DisplayFor(m=>label.OrdersCount)</td>
              <td>@Html.DisplayFor(m=>label.OrdersTotal)</td>
                    @*<td>@Html.DisplayFor(m=>label.ParcelAmount)</td>
      <td>@Html.DisplayFor(m=>label.CustomerAmount)</td>
      <td>@Html.DisplayFor(m=>label.TotalWeight)</td>
      <td>@Html.DisplayFor(m=>label.TotalVolume)</td>
      <td>@Html.DisplayFor(m=>label.ShippingDate)</td>
      <td>@Html.DisplayFor(m=>label.Status)</td>*@
            </tr>
            }
      </table>

    }

</div>