@page
@model Empiria.Trade.Reporting.Pages.ShippingAndHandling.BillingListModel
@{
}
<link rel="stylesheet" href="~/css/to.printer.css" type="text/css" />
<br />
<body>
    <div class="center">
        @foreach (var billing in Model.Billings) {

            <div class="upperSeparator">

                <div>
                    <h1>FORMATO DE FACTURA</h1>
                    <br />
                </div>
                <br />
                <h1>@billing.OrderNumber</h1>
                <br />
                <h1>FECHA: @DateTime.Now.ToString("dd/MM/yyyy")</h1>
                <br />
                <div>
                    <h2>@billing.Supplier</h2>
                    <h2>AV. SIGLO XXI 7801 LOS NEGRITOS</h2>
                    <h2>AGUASCALIENTES AGUASCALIENTES 20310</h2>
                    @* <h2>@billing.supplierAddress</h2>
                <h2>@billing.supplierPhonoNumber</h2> *@
                    <h3>AGENTE: @billing.SalesAgent</h3>

                </div>
                <br />
                <div>
                    <h2>CLIENTE:</h2>
                    <h3>@billing.Customer</h3>
                    <h3>DIRECCION: @billing.CustomerAddress</h3>
                    <h3>CONTACTO: @billing.CustomerContact</h3>

                    @if (billing.CustomerPhone != string.Empty) {
                        <h3>TELEFONO: @billing.CustomerPhone</h3>
                    }

                    <h5>Método de envío: @billing.ShippingMethod</h5>
                </div>
                <br />
                <div>
                    <h3>Contenido: @billing.ItemsCount productos</h3>
                    <table>
                        <tr>
                            <th>Producto</th>
                            <th>Descripción</th>
                            <th>Cantidad</th>
                            <th>P. Unitario</th>
                            <th>Importe</th>
                            <th>Politica</th>
                            <th>Descuento 1</th>
                            <th>Descuento 2</th>
                            <th>Subtotal</th>
                        </tr>
                        @foreach (var product in billing.BillingItems) {
                            <tr>
                                <td>@Html.DisplayFor(m => product.ProductCode) - @Html.DisplayFor(m => product.ProductPresentation)</td>
                                <td>@Html.DisplayFor(m => product.ProductName)</td>
                                <td>@Html.DisplayFor(m => product.Quantity)</td>
                                <td>@Html.DisplayFor(m => product.UnitPrice)</td>
                                <td>@Html.DisplayFor(m => product.SalesPrice)</td>
                                <td>@Html.DisplayFor(m => product.DiscountPolicy)</td>
                                <td>@Html.DisplayFor(m => product.Discount1)</td>
                                <td>@Html.DisplayFor(m => product.Discount2)</td>
                                <td>@Html.DisplayFor(m => product.Subtotal)</td>
                            </tr>
                        }
                    </table>
                </div>
                <br />
                <br />
                <div>
                    @if (billing.OrderNotes != string.Empty) {
                        <h5>Notas: @billing.OrderNotes</h5>
                    }

                    <h5>Condiciones de pago: @billing.PaymentCondition</h5>
                </div>
                <br />
                <div style="align-content:end">
                    <table>
                        <tr>
                            <th>Subtotal</th>
                            <th>Envío</th>
                            <th>Impuestos</th>
                            <th>Importe total</th>
                        </tr>
                        <tr>
                            <td>@billing.BillingSubtotal</td>
                            <td>@billing.ShipmentTotal</td>
                            <td>@billing.Taxes</td>
                            <td>@billing.BillingTotal</td>
                        </tr>
                    </table>
                </div>
            </div>

        }
    </div>
</body>
